
@model ActivityTypeViewModel
@{
  ViewData["Title"] = "Edit ActivityType";
}
<div class="row s-pageTitle">
  <div class="col">
    <h1>Edit Activity</h1>
  </div>
</div>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Edit ActivityType</h2>
    </div>
    <div class="card-body">
      @using (Html.BeginForm("Edit", "ActivityType", FormMethod.Post, new { @class = "ControllForm"}))
      {
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div class="s-formContent row justify-content-md-center">
          <div class="form-row form-group">
            <div class="form-row form-group">
              <div class="col s-paddingBtn">
                <button class="btn btn-primary s-button" type="submit"><i class='k-icon k-i-save'></i><span>Save</span></button>
                <button type="button" class="btn btn-danger s-button s-CancelBtn" onclick="window.location.href='@Url.Action("Index", "ActivityType")'"><i class='k-icon k-i-cancel'></i><span> Cancel</span></button>
              </div>
            </div>
           </div>
        <div class="form-row form-group">
          <div class="col-12">
            <label class="s-label" asp-for="@Model.CostCenter">Cost Center</label>
          </div>
          <div class="col-12">
            @(Html.Kendo().TextAreaFor(m => m.CostCenter)
                .HtmlAttributes(new { @class = "s-customTextArea" })
                .Rows(1).Deferred(true)
                )
          </div>
          <div class="col-12">
            <label class="s-label" asp-for="@Model.Code">Code</label>
          </div>
          <div class="col-12">
            @(Html.Kendo().TextAreaFor(m => m.Code)
                .HtmlAttributes(new { @class = "s-customTextArea" })
                .Rows(1).Deferred(true)
                )
          </div> <div class="col-12">
            <label class="s-label" asp-for="@Model.Name">Name</label>
          </div>
          <div class="col-12">
            @(Html.Kendo().TextAreaFor(m => m.Name)
                .HtmlAttributes(new { @class = "s-customTextArea" })
                .Rows(1).Deferred(true)
                )
          </div>
          <div class="col-12">
            <label class="s-label" asp-for="@Model.PassiveCostFactor">Passive Cost Factor</label>
          </div>
          <div class="col-12">
            @(Html.Kendo().TextAreaFor(m => m.PassiveCostFactor)
                .HtmlAttributes(new { @class = "s-customTextArea" })
                .Rows(1).Deferred(true)
                )
          </div>
          <div class="col-12">
            <label class="s-label" asp-for="@Model.Rate">Rate</label>
          </div>
          <div class="col-12">
            @(Html.Kendo().TextAreaFor(m => m.Rate)
                .HtmlAttributes(new { @class = "s-customTextArea" })
                .Rows(1).Deferred(true)
                )
          </div>
         </div>
        </div>
      }
      <div>
        @if (!ViewData.ModelState.IsValid)
        {
          <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
              <p>@error.ErrorMessage</p>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>